.glass-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);               
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.h1{
    text-align: center;
    color: red;
    font-style: oblique;
}
